@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

:root {
  /* ### Primary */

  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);

  /* ### Neutral */

  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Be Vietnam", sans-serif;
  font-size: 16px;
}
body {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
section {
  padding: 1.5rem 0;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: 0.85rem;
  font-weight: 400;
  cursor: pointer;
}
img {
  max-width: 100%;
}
h1,
h2,
h3 {
  color: var(--Dark-Blue);
}
h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
h3 {
  font-size: 0.95rem;
  margin: 0.25rem 0;
}
p {
  color: var(--Dark-Grayish-Blue);
  padding: 0.5rem 0rem;
  font-size: 0.85rem;
  font-weight: 400;
}
.flex_column {
  flex-direction: column;
}
.flex {
  display: flex;
}
.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1200px;
}
/* header section */
header {
  background: url(../images/bg-tablet-pattern.svg);
  background-size: contain;
  background-position: top -5rem right -5rem;
  background-repeat: no-repeat;
}
header nav {
  position: absolute;
  z-index: 1000;
  width: 100%;
}
header nav {
  padding: 2rem 0;
}
nav .flex {
  justify-content: space-between;
}
header .header_cta {
  display: none;
}
.menu_icon {
  display: none;
}
.menu_on {
  display: block;
}
header .nav_menu {
  position: absolute;
  padding: 1rem;
  background: rgb(255, 255, 255);
  top: 5rem;
  left: 50%;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-50%);
  width: 15rem;
  border-radius: 2.5px;
  opacity: 0;
  z-index: 1000;
  transition: 0.5s opacity ease-in;
}
.menu_active {
  opacity: 1 !important;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.263);
  height: 100vh;
  width: 100%;
  z-index: 999;
  opacity: 0;
  display: none;
  transition: 1s display ease-in;
  /* background-image: url(linear-gradient()); */
}
.overlay_active {
  opacity: 1;
  display: block;
}
header a {
  font-weight: 700;
}
header .nav_menu .nav_link {
  padding: 0.75rem;
  color: var(--Dark-Blue);
}
header .nav_menu .nav_link:hover {
  opacity: 0.6;
}
main{
    background: url(../images/bg-simplify-section-mobile.svg);
    background-size: auto;
    background-position: top right;
    background-repeat: no-repeat;
}
.hero {
  padding-top: 4rem;
}
.btn {
  padding: 0.75rem 1.75rem;
  border: none;
  background: var(--Bright-Red);
  border-radius: 1.3rem;
  font-size: 0.75rem;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.274);
  font-weight: 700;
  font-family: inherit;
}
.btn:hover {
  opacity: 0.85;
  cursor: pointer;
}
.btn_primary {
  color: var(--Vary-Light-Gray);
}
.cta {
  margin: 0.5rem 0;
}
/* about_company */
.left_side {
  padding: 0 2rem;
}
.right_side {
  text-align: left;
}
.right_side h3 {
  background-color: var(--Very-Pale-Red);
  padding: 0.3rem 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: calc(1.5rem + 100%);
}
.right_side .index {
  background: var(--Bright-Red);
  padding: 0.3rem 1rem;
  color: var(--Vary-Light-Gray);
  border-radius: 1rem;
  margin-right: 0rem;
}
.right_side li {
  margin-bottom: 2rem;
}
/* testimonial section */
.container_glide {
  margin: 2rem auto;
  position: relative;
}
.container_glide .glide__bullets {
  border: 2px solid var(--Bright-Red);
  padding: 0.5rem 1rem;
  border-radius: 16px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.274),
    -2px -4px 4px 0px rgb(255, 255, 255);
}
button:focus {
  outline: none;
}
.glide .glide__bullets {
  bottom: 0.5rem;
}
.glide .glide__bullet:active,
.glide__bullet:hover {
  background-color: var(--Bright-Red);
}
.glide .glide__bullet {
  border: 1px solid var(--Bright-Red);
}
.glide__arrows {
  display: none;
}
article {
  margin: 3rem 0.25rem;
  background: var(--Vary-Light-Gray);
  text-align: center;
  position: relative;
  color: var(--Dark-Grayish-Blue);
  padding: 4rem 1rem 2rem;
  min-height: 188px;
}
.glide h3 {
  padding-bottom: 1rem;
}
article .img-con {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
}
/* cta banner */
.cta_banner {
  background: url(../images/bg-simplify-section-desktop.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0;
  background-color: var(--Bright-Red);
  padding: 3rem 1rem;
  color: var(--Vary-Light-Gray);
}
.cta_banner h2 {
  font-size: 2rem;
  color: var(--Vary-Light-Gray);
  /* font-weight: 500; */
}
.btn_secondary {
  margin: 1rem 0;
  background-color: var(--Vary-Light-Gray);
  color: var(--Bright-Red);
}
/* footer */
footer {
  background-color: var(--Very-Dark-Blue);
  color: var(--Vary-Light-Gray);
}
.copy_right {
  color: var(--Dark-Grayish-Blue);
  padding: 1rem 0;
  font-size: 0.8rem;
}
footer a:hover {
  color: var(--Bright-Red);
}
footer form ~ .copy_right {
  display: none;
}
footer .flex_column {
  flex-direction: column-reverse;
}
footer .flex {
  justify-content: space-around;
  /* align-items: center; */
}
footer .container {
  padding: 1rem 1rem;
}
footer .nav_menu .nav_link {
  padding: 0.25rem;
}
footer .social_links {
  padding: 1rem;
}
footer .nav_menu .menu {
  text-align: left;
}
.fab,
.far {
  font-size: 1.75rem;
  padding: 0 0.5rem;
}
footer form {
  margin: 1rem 0;
  position: relative;
}
footer form input {
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  margin: 0 0.25rem;
  margin-bottom: 0.75rem;
  font-family: inherit;
  font-size: 0.75rem;
  width: calc(100% - 120px);
}
footer form input:focus {
  outline: none;
}
footer form input:focus:invalid {
  border: 2px solid var(--Bright-Red);
}
footer form .error_msg {
  color: var(--Bright-Red);
  font-size: 0.7rem;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

footer form input::placeholder {
  font-family: inherit;
}

/* media queries */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .flex {
    flex-direction: row;
  }
  header {
    height: 80vh;
    background: url(../images/bg-tablet-pattern.svg);
    background-position: top -17.5rem right -10rem;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .hero .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  header nav {
    position: absolute;
    z-index: 1000;
    width: 100%;
    padding: 1rem 0;
  }
  .overlay_active {
    opacity: 0;
    display: none;
  }
  nav .flex {
    justify-content: space-between;
    align-items: center;
  }
  header .cta {
    margin: 1rem 0;
  }
  header .header_cta {
    display: block;
  }
  .menu_icon {
    display: none;
  }
  header .nav_menu {
    position: static;
    padding: 0rem;
    align-items: center;
    justify-content: space-between;
    width: auto;
    opacity: 1;
    transform: translateX(0);
    background: transparent;
  }
  header .hero_content {
    max-width: 360px;
  }
  header .hero_content,
  header .img_con {
    padding-bottom: 2rem;
  }
  /* main background image */
  main {
    background: url(../images/bg-simplify-section-desktop.svg);
    background-position: top 45rem left 0rem;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .container {
    text-align: left;
  }
  /* about_company */
  .about_company .container {
    justify-content: space-between;
  }
  .left_side {
    padding: 0 3rem 0 0;
  }
  .left_side h2,
  .left_side p {
    width: 320px;
  }
  .right_side {
    max-width: 550px;
  }
  .right_side h3 {
    background-color: transparent;
  }
  .right_side .description {
    padding-left: 73px;
  }
  /* testimonial section */
  .container_glide .flex_column {
    flex-direction: column;
  }
  /* cta banner */
  .cta_banner .container {
    justify-content: space-between;
    display: flex;
  }
  .cta_banner h2 {
    width: 400px;
    text-align: left;
  }
  /* footer */
  footer .flex {
    flex-direction: row;
  }
  footer form ~ .copy_right {
    display: block;
  }
  .socials > .copy_right {
    display: none;
  }
  footer .nav_menu {
    flex-grow: 2;
  }
  footer .socials {
    flex-direction: column;
    max-width: 250px;
  }
  footer .social_links {
    justify-content: space-between;
    padding: 0;
  }
  footer .form_con {
    flex-basis: 300px;
  }
  footer form .error_msg {
    left: 5%;
    transform: translateX(0%);
  }
  .right_side .index {
    padding: 0.3rem 1.25rem;
    margin-right: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
}
