.shorten-url-form{
  padding: 1rem;
  border-radius: 6px; 
  background: $Dark-Violet url(../../images/bg-shorten-mobile.svg);
  background-size: contain;
  background-position: 100% 0;
  background-repeat: no-repeat ;
  &__item{
    // margin: 1rem 0;

    position :relative;
  }
  &__input{
    width: 100%;
    font-size:.9rem ;
    padding:.85rem 1rem ;
    padding-right: 3rem;
    border-radius:5px ;
    border:none;
    font-weight: 700;
    color:$Gray;
    &::placeholder{
      font-weight: 700;
    }
    &:focus{
      outline: none;
      // border: 1px solid $Dark-Blue;
    }
  }
    &__err-msg{
    font-size: .75rem;
    font-weight: 700;
    // color:$Red;
    text-align: right;
    width: 100%;
    padding: .25rem .5rem ;

  }
  &__input:focus:invalid{
    // border:2px solid $Red;
    & ~   .trial-form__indicator{
      display: block;
    }
  }
  .btn{
    width: 100%;
  }
  // @include mQ(768px){
  //   border-radius: 10px;
  //   padding: 2rem;
  //   &__item{
  //     margin: 1.35rem 0;
  //   }
  //   &__input{
  //     padding: 1rem ;
  //     border-radius:5px ;
  //     font-weight: 700;
  //   }
  // }
}
.btn{
  padding: 1rem;
  cursor: pointer;
  border-radius:5px ; 
  color: white;
  border:none;
  font-size: .85rem;
  // text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .05rem;
  font-family: inherit;
  outline: none;
  &:hover{
    opacity: .8;
  }
}
.btn--primary{
   background: $Cyan;
   &:hover{
    background: lighten($Cyan , 20) ;
    }
//    box-shadow: -1px 4px 0px 0px rgba(4, 128, 24, 0.63) ,
//   ;

}