
// dark 
.dark_theme {
  background: $Very-Dark-Blue;
  color: $White;
}
.dark_theme_card {
  background: $Dark-Desaturated-Blue;
}
.dark_theme_cardtext{
  color: $Desaturated-Blue;
}
.dark_theme_underlay{
  // background: $Very-Dark-Blue;
  background:rgb(9, 255, 9);
}
// light
.light_theme {
  background: $White;
  color: $Very-Dark-Blue;
}
.light_theme_card {
  background: $Light-Grayish;
}
.light_theme_cardtext{
  color:$Dark-Grayish-Blue;
}
.light_theme_underlay{
  // background: $Very-Pale-Blue;
  background:rgb(128, 4, 0);
}
