@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

/* utilities */
.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 2rem auto;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.hidden {
  display: none;
}
/* general styles */
body{
  background: var(--Very-Light-Grayish-Blue) ;
}
#pricing {
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  background:  url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: right -15rem top -5%;
  background-size: contain;
  font-weight: 700;
}
.heading_section {
  padding: 2rem 0;
}
.heading {
  font-size: 3.5rem;
  color: var(--Grayish-Blue);
}
.pricing_labels {
  margin: 0 auto;
  padding: 2rem 0;
  width: 28rem;
  color: var(--Light-Grayish-Blue);
  font-size: 1.25rem;
}
.pricing_bundles {
  padding: 2rem 0;
  margin: 2rem 0;
}
#pricing_bundle_primary {
  background: linear-gradient(var(--Linear-Gradient));
  color: white;
}
#pricing_bundle_primary .price_tags ,#pricing_bundle_primary  .bundle_tag{
  color: white;
}
#pricing_bundle_secondary {
  background-color: white;
  color: var(--Grayish-Blue);
}
.pricing_bundle {
  margin: 1rem 0 2rem;
  padding: 2rem;
  border-radius: 5px;
    box-shadow:  6px 6px 6px 0px  rgba(0, 0, 0, 0.253);
}
.pricing_bundle .bundle_tag {
  color: var(--Grayish-Blue);
  font-size: 2rem;
  padding: 1rem 0;
}
.pricing_bundle .price_tags {
  color: var(--Dark-Grayish-Blue);
  padding: 2rem 0;
}
.pricing_bundle .price_tag {
  font-size: 5.5rem;
}
.currency {
  font-size: 3rem;
  transform: scale(3);
}
.pricing_bundle li {
  font-weight: 700;
  padding: 1.5rem 0;
  font-size: 1.25rem;
  border-top: 1px solid var(--Light-Grayish-Blue);
}
.pricing_bundle li:last-of-type {
  border-bottom: 1px solid var(--Light-Grayish-Blue);
}
.pricing_bundle .btn {
  padding: 1.2rem 1rem;
  margin: 2rem 0;
  font-size: 1.25rem;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}
.btn_secondary {
  background-color: white;
  color: var(--Grayish-Blue);
}
.btn_primary {
  background: linear-gradient(var(--Linear-Gradient));
  color: white;
}
.btn_secondary:hover {
  color: white;
  background: transparent;
  border: 1px solid white;
}
.btn_primary:hover {
  background: white;
  color: hsl(237, 63%, 64%);
  border: 1px solid var(--Dark-Grayish-Blue);
}

@media (min-width: 650px) {
  .pricing_bundles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .pricing_bundle {
    flex: 0 1 calc(50% - 2rem);
    max-width: 30rem;
    margin: 1rem;
  }
}
@media (min-width: 650px) {
  .pricing_bundles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .pricing_bundle {
    flex: 0 1 calc(50% - 2rem);
    max-width: 30rem;
    margin: 1rem;
  }
}
@media (min-width: 1024px) {
  #pricing {
    background:url(./images/bg-top.svg) , url(./images/bg-bottom.svg) ;
    background-repeat: 
    no-repeat ,
    no-repeat
    ;
    background-position:
     left 100% top 0% ,
     left 0% bottom -10%
    ;
    background-size:
     auto ,
     auto
     ;
     height: 100vh;
  }
  #pricing_bundle_primary {
    transform: scaleY(1.1);
  }
  .pricing_bundles {
    flex-wrap: nowrap;
  }
  .pricing_bundle {
    margin: 0;
  }
}

/* checkbox styles*/
input[type="checkbox"]{
  -webkit-appearance:none;
  appearance: none;
  box-shadow: inset 2px 2px 6px 0px  rgba(0, 0, 0, 0.253);
  width: 54px;
  height: 27px;
  border-radius:14px;
  background: linear-gradient(var(--Linear-Gradient));
  position: relative;
  transition: all .5s ease-out;
}

input[type="checkbox"]::before{
  content :" ";
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius:50% ;
  top: 2px;
  left: 8%;
  transition: all .5s ease-out;
}

input[type="checkbox"]:checked{
  background: hsl(236, 72%, 79%);
}
input[type="checkbox"]:checked::before{
  left:50%;
}